# .gitignore file
.DS_Store
node_modules
.nuxt
dist
.npmignore
npm-debug.log

# IDE - VSCode
.vscode

# IDE - JetBrains
.idea

# Environment variables
.env
.env.*
!.env.example

# npm package lock files
package-lock.json
.yarnrc
.yarn-error.log
yarn.lock

# Mac
.DS_Store

# Production
/*.zip
/*.tar
/*.tar.gz